# TODO: add some description here..
# TODO: finish integration tests..

### SERVICE ENV ###

OTEL_TRACE_EXPORTER= # console | tempo
TRACE_TEMPO_ENDPOINT=localhost:4318

LOGGER_SERVICE= # slogLogger | nop
SLOG_LOGGER_FOLDER_PATH=./infra/local/slogLogger

EMAIL_SENDER_SERVICE= # dummy

TASK_QUEUER_SERVICE= # dummy
