# This is an example of a .env file for integration testing.
#
# You only need to define Persistence and Service environment variables,
# all the other are predefined in the TestMain function.
#
# Note, that we're using golang templating syntax here, so the correct
# folder path will be passed to dependencies.

### PERSISTENCE ENV ###

# Choose one of these as a main ORM:
GORM_SQLITE_FOLDER_PATH={{ .testInfraFolder }}/gormSqlite
BUN_SQLITE_FOLDER_PATH={{ .testInfraFolder }}/bunSqlite

LOCAL_FILE_SAVER_FOLDER_PATH={{ .testInfraFolder }}/localFileSaver

### SERVICE ENV ###

EMAIL_SENDER_SERVICE= # dummy
