{{ define "PageTitle" }}
  Home - Netsly
{{ end }}

{{ define "HomeContent" }}
  <div class="p-5">
    <div class="flex items-center justify-center">
      <h1>Welcome, {{ .User.Username }}!</h1>
    </div>
    <div class="my-5 flex justify-between">
      <h2>Your Latest Jokes:</h2>
      <button _="on click call #create-joke-modal.showModal()">Add joke</button>
    </div>
    <div
      id="jokes"
      hx-get="/home/partial/jokes"
      hx-target="this"
      hx-swap="innerHTML"
      hx-trigger="load, newJoke from:body"
    >
      <!-- Jokes partial -->
    </div>
  </div>

  <!-- Create Joke Modal Start -->
  <dialog
    id="create-joke-modal"
    class="rounded-lg border-solid p-0 backdrop:bg-gray-400 backdrop:opacity-40"
    _="on click if event.target is me 
      then call me.querySelector('form').reset() 
      then call me.close()
      then put '' into <span/> in me"
  >
    <div class="p-10">
      <h1 class="mb-8 text-4xl font-extrabold">Register</h1>
      <form
        id="create-joke-form"
        hx-post="/jokes"
        hx-target-491="#add-joke-title-error"
        hx-target-492="#add-joke-text-error"
        hx-target-493="#add-joke-explanation-error"
        _="on newJoke 
          call #create-joke-modal.close() 
          then call me.reset()
          then put '' into <span/> in me"
      >
        <div>
          <label class="block font-semibold" for="title">Title</label>
          <input
            class="mt-1 block w-full rounded-lg border-none bg-gray-100 p-4 text-2xl placeholder-black shadow-inner"
            id="title"
            type="text"
            name="title"
            autofocus="autofocus"
            _="on input put '' into the next <span/>"
          />
          <span id="add-joke-title-error" class="text-sm text-red-600"></span>
        </div>
        <div class="mt-4">
          <label class="block font-semibold" for="text">Text</label>
          <input
            class="mt-1 block w-full rounded-lg border-none bg-gray-100 p-4 text-2xl placeholder-black shadow-inner"
            id="text"
            type="text"
            name="text"
            _="on input put '' into the next <span/>"
          />
          <span id="add-joke-text-error" class="text-sm text-red-600"></span>
        </div>
        <div class="mt-4">
          <label class="block font-semibold" for="explanation">
            Explanation
          </label>
          <input
            class="mt-1 block w-full rounded-lg border-none bg-gray-100 p-4 text-2xl placeholder-black shadow-inner"
            id="explanation"
            type="text"
            name="explanation"
            _="on input put '' into the next <span/>"
          />
          <span
            id="add-joke-explanation-error"
            class="text-sm text-red-600"
          ></span>
        </div>
        <div class="mt-8 flex items-center justify-between">
          <button
            type="submit"
            class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 md:px-10 md:py-4 md:text-lg"
          >
            Create
          </button>
          <a
            class="cursor-pointer pr-4 font-semibold"
            _="on click 
              call #create-joke-modal.close() 
              then call #create-joke-modal.querySelector('form').reset()"
          >
            Back
          </a>
        </div>
      </form>
    </div>
  </dialog>
  <!-- Create Joke Modal End -->
{{ end }}
