# Node dependencies
node_modules
package-lock.json
package.json

# Binaries
bin/
build/

# Env files
env/*
!env/example.env

# Logs
internal/infrastructure/service/logger/slogLogger/log/*
!internal/infrastructure/service/logger/slogLogger/log/.gitkeep

# Files
internal/infrastructure/persistence/implementation/localFileSaver/files/*
!internal/infrastructure/persistence/implementation/localFileSaver/files/.gitkeep

# Sqlite database
internal/infrastructure/persistence/implementation/gormImpl/sqlite.db
