# Node dependencies
node_modules
package-lock.json
package.json

# Binaries
bin/

# Test files
test/tmp

# Temporary files
tmp

# Env files
.env*
!.env.example

# Local infrastructure files
infra/local/*
!infra/local/.gitkeep

# Terraform files
infra/terraform/.terraform
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
