# Node dependencies
node_modules
package-lock.json
package.json

# Binaries
bin/
build/

# Test files
test/tmp

# Env files
env/*
!env/example.env

# Local infrastructure files
infra/local/*
!infra/local/.gitkeep

# Terraform files
infra/terraform/.terraform
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
