{{ define "PageTitle" }}
  404 - Flug'
{{ end }}

{{ define "BaseContent" }}
  <div
    class="flex h-screen flex-col items-center justify-center bg-gray-100 align-middle"
  >
    <div class="block text-6xl text-gray-500">
      <span>4 0 4</span>
    </div>
    <div class="mt-8 tracking-widest">
      <span class="text-xl text-gray-500"
        >Sorry, we couldn't find what you are looking for!</span
      >
    </div>
    <div class="mt-6">
      <a
        href="/sign"
        class="rounded-md bg-gray-200 p-3 font-mono text-xl text-gray-500 hover:shadow-md"
        >Go back
      </a>
    </div>
  </div>
{{ end }}
