<!-- 
  This is the base layout for all pages in the web app.
  
  To use this layout, the following blocks must be defined:
  - PageTitle: The title of the page.
  - BaseContent: The main content of the page.
-->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind Styles -->
    <link href="/static/style/style.css" rel="stylesheet" type="text/css" />
    <!-- HTMX CDN -->
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <!-- HTMX Plugins -->
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script src="https://unpkg.com/htmx.org@latest/dist/ext/alpine-morph.js"></script>
    <!-- Alpine Plugins CDN -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/morph@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- Alpine Core CDN -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>
      {{ template "PageTitle" }}
    </title>
  </head>
  <body hx-ext="response-targets">
    {{ template "BaseContent" . }}
  </body>
</html>
