<!-- 
    This is the home page layout, which is used for all pages from /templates/home directory.
    It extends the base layout and provides a content block for the home page content.
    Template contains left sidebar with navigation links and a content block for the home page content.

    To use this layout, a template must define the following blocks:
    - HomeContent: The main content of the page.
 -->

{{ define "PageTitle" }}
  Home - Netsly
{{ end }}

{{ define "BaseContent" }}
  <div class="flex min-h-screen">
    <div class="w-1/6 bg-gray-800 text-white">
      <div class="p-4">
        <h1 class="text-2xl font-bold">Netsly</h1>
      </div>
      <div class="p-4">
        <a href="/" class="block py-2">Home</a>
        <a href="/about" class="block py-2">About</a>
        <a href="/contact" class="block py-2">Contact</a>
      </div>
    </div>
    <div class="m-10 w-5/6">
      {{ template "HomeContent" . }}
    </div>
  </div>
{{ end }}
